@model ShippingDetailsViewModel

<form asp-controller="Cart" asp-action="Complete" method="post">
    <div class="row">
        <div class="form-group col-6">
            <label asp-for="@Model.ShippingDetail.FirstName">Name</label>
            <input asp-for="@Model.ShippingDetail.FirstName" class="form-control" placeholder="Name" />
            <span asp-validation-for="@Model.ShippingDetail.FirstName"></span>

        </div>
        <div class="form-group col-6">
            <label asp-for="@Model.ShippingDetail.LastName">Surname</label>
            <input asp-for="@Model.ShippingDetail.LastName" class="form-control" placeholder="Surname" />
            <span asp-validation-for="@Model.ShippingDetail.LastName"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label asp-for="@Model.ShippingDetail.Adres">Adress</label>
            <input asp-for="@Model.ShippingDetail.Adres" class="form-control" placeholder="Adress" />
            <span asp-validation-for="@Model.ShippingDetail.Adres"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="@Model.ShippingDetail.Age">Age</label>
            <input asp-for="@Model.ShippingDetail.Age" class="form-control" placeholder="Age" />
            <span asp-validation-for="@Model.ShippingDetail.Age"></span>
        </div>

    </div>

    <input class="btn btn-outline-dark" type="submit" value="Complete" />


</form>
